<?php
/**
 * Created by ${Eguana}.
 * User: ${Brian}
 * Date: 2018-06-12
 * Time: 오전 10:23
 */

/** @var $block Eguana\InstaFeed\Block\InstaFeed */
$instaData = $block->getInstaFeed();

if (isset($instaData)) {
    $instaData = array_values($instaData);
}
?>
<?php if ($block->getInstaFeedEnable()): ?>
    <?php if (isset($instaData)): ?>
    <div class=" block block-instagram">
        <div class="block-title">
            <strong><span><?= /* @escapeNotVerified */ __('#COSRX') ?></span></strong>
        </div>
        <div class="block-content">
            <?php $i = 1;?>
            <div class="items">
                <?php foreach ($instaData as $key => $data) : ?>
                    <div class="item <?php if (strpos($data['type'], 'carousel') !== false) : ?>carousel<?php endif;?> <?php if (strpos($data['type'], 'video') !== false) : ?>video<?php endif;?>">
                        <div class="image-container">
                            <a href="<?= $data['link'] ?>" style="background-image: url(<?= $data['url'] ?>)" title="Instagram Feed" target="_blank"></a>
                        </div>
                    </div>
                    <?php if((count($instaData) !== $i) &&($i % 3 == 0)):?></div><div class="items"><?php endif; $i++;?>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <?php endif; ?>
<?php endif; ?>