<?php
/**
 * Created by Eguana.
 * User: glenn
 * Date: 2019-06-07
 * Time: 오후 7:41
 */
?>

<div class="actions actions-get-code">
    <button class="actions-get-code" type="button" id="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->escapeHtml($block->getButtonLabel()) ?></span>
    </button>
</div>

<script>
    require(
        [
            'jquery',
            'jquery/ui'
        ],
        function($){
            $("#<?php echo $block->getHtmlId() ?>").click(function () {
                let params = {
                    'client_id' : $("#instagram_feed_client_id").val(),
                    'client_secret' :  $("#instagram_feed_client_secret").val(),
                    'redirect_uri' :  $("#instagram_feed_redirect_uri").val()
                };

                let popup = {
                    'url': "<?php echo $block->getButtonUrl() ?>" + "?client_id=" + params.client_id + "&redirect_uri=" + params.redirect_uri + "&response_type=code",
                };

                window.open(popup.url, "_blank");
            })
        });
</script>