.instagram-wrapper{
  margin: 70px auto 0;

  .instagram-title {
    font-size: 4rem;
    text-align: center;
  }

  .instagram-content {
    .items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      max-width: 1275px;
      height: 510px;
      margin: auto;

      .item {
        position: relative;
        width: 245px;
        height: 245px;
      }

      .big {
        width: 500px;
        height: 500px;
      }
    }
  }
}
